@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto+Mono:wght@600&family=Syne:wght@700&display=swap');

header {
    margin: 0 0 8px 8px;
    font-family: 'Syne', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 15px;
    height: 40px;
    background-color: rgb(116, 27, 27);
}

body {
    background-image:url(./background4.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Syne', sans-serif;
    text-align: center;
    margin: 30px;
}

.apresentacaoPersonagem {
    font-family: 'Syne', sans-serif;
    color: rgb(116, 27, 27);
    border-radius: 30px;
    font-size: 30px;
    height: auto;
    padding: 15px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.425);  
    backdrop-filter: blur(8px);
    background-repeat: no-repeat;
}

.opcoes1fase {
    font-family: 'Syne', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    gap: 30px;
    margin: 0 auto;
}

.opcoes {
    color: rgb(116, 27, 27);
    height: 200px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Syne', sans-serif;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.425);  
    backdrop-filter: blur(8px);
}


.botao {
    height: 50px;
    background-color:rgba(255, 255, 255, 0.425);
    color: rgb(116, 27, 27);
    border-radius: 10px;
    border-color: rgb(116, 27, 27);
    border-style: solid;
    transition: 1s;
}
.botao:hover {
    cursor:pointer;
    background-color:  rgba(116, 27, 27, 0.233);
}

.vitoria {
    font-family: 'Syne', sans-serif;
    color:rgba(116, 27, 27, 0.582);
    font-size: 100px;
    margin: 0 auto;
    text-align: center;
}

footer {
    font-family: 'Syne', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    height: 40px;
    background-color: rgb(116, 27, 27);
}

.iconesRedes{
    color: white;
}

@media (max-width: 1024px) {
    body {
        margin: 5px;
        text-align: center;
    }
    .apresentacaoPersonagem {
        width: 320px;
        font-size: 20px;
        padding: 0;
        height: auto;
    }
    .opcoes1fase {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 390px;
        gap: 5px;
    }
    img {
        display: none;
    }
    .vitoria {
        word-wrap: break-word;
    }
}